<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Venez Comme Vous Etes!{% endblock %}</title>

        {% block stylesheets %}<!-- Latest compiled and minified CSS -->

        <link rel="stylesheet" href="{{  asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')}}" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('bundles/reception/css/style.css') }}"  />
        <!-- Optional theme -->
        <link rel="stylesheet" href="{{  asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css')}}" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


            <!-- <link rel="stylesheet" href="{# {{  asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')}} #}" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

            <!-- Optional theme -->
            <!-- <link rel="stylesheet" href="{# {{  asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css')}} #}" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->

            <!-- Latest compiled and minified JavaScript -->
            <!-- <script src="{# {{  asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')}} #}" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->


            <!-- <link rel="stylesheet" href="{# {{ asset('bundles/reception/css/style.css') }} #}"  /> -->

            <!-- insertion des fichiers css -->
            <link href="{{ asset('bundles/reception/css/bootstrap.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/reception/css/hover.css') }}" rel="stylesheet" media="all" />
            <link href="{{ asset('bundles/reception/css/header.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/reception/css/slider.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/reception/css/intro.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/reception/css/products.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/reception/css/style.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/reception/css/footer.css') }}" rel="stylesheet" />

            <link rel="stylesheet" type="text/css" href="{{ asset('https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css') }}" />

        {% endblock %}



        <link rel="icon" type="image/x-icon" href="{{asset('favicon.ico')}}" />
    </head>

    <body>
        {% block fos_user_content %}
        {% endblock fos_user_content %}

        <!-- Menu -->

        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3" id="logo">
                    <img src=""	alt=""/>
                </div>

                <div class="col-lg-9">
                    <nav class="navbar navbar-default">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">La cuisine de Caroline</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="{{ path('homepage') }}" class="hvr-underline-from-left">Accueil <span class="sr-only">(current)</span></a></li>
                                <li><a href="{{ path('soiree_index') }}" class="hvr-underline-from-left">Plats</a></li>
                                <li><a href="{{ path("fos_user_registration_register") }}" class="hvr-underline-from-left">S'enregistrer</a></li>
                                <li><a href="{{ path("fos_user_security_login") }}" class="hvr-underline-from-left">Se connecter</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>

            </div>
        </div>

        <!-- Fin Menu -->

        {% block body %}{% endblock %}

        <!-- slider -->

        <div style="min-height: 50px;">
            <!-- Jssor Slider Begin -->
            <!-- To move inline styles to css file/block, please specify a class name for each element. -->
            <!-- ================================================== -->
            <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto;
        top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
                <!-- Loading Screen -->
                <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;
                top: 0px; left: 0px; width: 100%; height: 100%;">
                    </div>
                    <div style="position: absolute; display: block; background: url("{{ asset('bundles/reception/images/loading.gif') }}") no-repeat center center;
                    top: 0px; left: 0px; width: 100%; height: 100%;">
                </div>
            </div>
            <!-- Slides Container -->
            <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1300px; height: 500px; overflow: hidden;">
                <div>
                    <img u="image" src2="{{ asset('bundles/reception/images/repas.jpg') }}" />
                </div>
                <div>
                    <img u="image" src2="{{ asset('bundles/reception/images/repas2.jpg') }}" />
                </div>
                <div>
                    <img u="image" src2="{{ asset('bundles/reception/images/repas3.jpg') }}" />
                </div>
            </div>
            <!-- bullet navigator container -->
            <div u="navigator" class="jssorb21" style="bottom: 26px; right: 6px;">
                <!-- bullet navigator item prototype -->
                <div u="prototype"></div>
            </div>
            <!--#endregion Bullet Navigator Skin End -->
            <!-- Arrow Left -->
            <span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
            </span>
            <!-- Arrow Right -->
            <span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
            </span>
            <!--#endregion Arrow Navigator Skin End -->
            <a style="display: none" href="http://www.jssor.com">Bootstrap Carousel</a>
        </div>
        <!-- Jssor Slider End -->
        </div>

        <!-- Fin Slider -->


        <!-- Introduction -->

        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8">
                    <div class="text_welcome">
                        <h2>La cuisine de Caro</h2>
                        <img id="caro" src="{{ asset('bundles/reception/images/caro.png') }}" />
                        <p>
                            Venez comme vous êtes !
                        </p>
                        <p>
                            Les envies culinaires d'une enseignante gourmande qui aime cuisiner et faire plaisir... En toute simplicité, mon quotidien dans ma cuisine.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fin Introduction -->


        <!-- Menus -->

        <div class="container" id="products">
            <div class="row">
                <div class="col-lg-12" id="">
                    <h2>Au Menu</h2>
                    <ul class="grid effect-6" id="grid">
                        <li><a class="hvr-box-shadow-outset" data-toggle="modal" data-target="#myModal"><img src="{{ asset('bundles/reception/images/r1.jpg') }}" /></a></li>
                        <li><a href="#"><img src="{{ asset('bundles/reception/images/r2.jpg') }}" /></a></li>
                        <li><a href="#"><img src="{{ asset('bundles/reception/images/r3.jpg') }}" /></a></li>
                        <li><a href="#"><img src="{{ asset('bundles/reception/images/r4.jpg') }}" /></a></li>
                        <li><a href="#"><img src="{{ asset('bundles/reception/images/r5.jpg') }}" /></a></li>
                        <li><a href="#"><img src="{{ asset('bundles/reception/images/r6.jpg') }}" /></a></li>
                        <li><a href="#"><img src="{{ asset('bundles/reception/images/r7.jpg') }}" /></a></li>
                        <li><a href="#"><img src="{{ asset('bundles/reception/images/r8.jpg') }}" /></a></li>
                        <li><a href="#"><img src="{{ asset('bundles/reception/images/r9.jpg') }}" /></a></li>
                        <li><a href="#"><img src="{{ asset('bundles/reception/images/r10.jpg') }}" /></a></li>
                        <li><a href="#"><img src="{{ asset('bundles/reception/images/r11.jpg') }}" /></a></li>
                        <li><a href="#"><img src="{{ asset('bundles/reception/images/r12.jpg') }}" /></a></li>
                    </ul>

                    <div  class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Salade crudités/crevettes !</h4>
                                </div>

                                <div class="modal-body">
                                    <!-- TEXT INTERIEUR + LIEN REFERENCE + ICONE AMAZON -->
                                    <img src="img/girafe1.jpg" alt="" width="50%" height="50%">
                                    <p>
                                       Belle assiette de crudités avec crevettes au bord de la banquise avec Pingu et toujours avec le sourire.
                                        #lavieestbelle
                                    </p>
                                    <a href="http://www.gstatic.com/tv/thumb/tvbanners/464282/p464282_b_v8_ab.jpg"
                                        target="_blank">lien </a>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Fin Menus -->


    {# {% block body %}{% endblock %} #}



        <!-- Footer -->

        <footer>
            <ul>
                <li><a href="#">LaCuisineDeCaro.com</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li>© 2016 All rights reserved</li>
                <li>Website built by Elodie, Nicolas & Omar</li>
            </ul>
        </footer>

        <!-- Fin Footer -->


        {% block javascripts %}{% endblock %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js') }}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="{{ asset('bundles/reception/js/jquery.parallax-1.1.3.js') }}"></script>
        <script src="{{ asset('bundles/reception/js/jquery-1.9.1.min.js') }}"></script>
        <script src="{{ asset('bundles/reception/js/docs.min.js') }}"></script>
        <script src="{{ asset('bundles/reception/js/bootstrap.js') }}"></script>

        <!-- jssor slider scripts-->
        <!-- use jssor.slider.debug.js for debug -->
        <script type="text/javascript" src="{{ asset('bundles/reception/js/jssor.slider.mini.js') }}"></script>

        <!-- <script src="js/jquery-2.2.3.min.js"></script> -->
        <script src="{{ asset('bundles/reception/js/typed.js') }}"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle/3.0.3/jquery.cycle.all.js"></script>-->

        <!-- Animation on scroll -->
        <script src="{{ asset('bundles/reception/js/modernizr.custom.js') }}"></script>
        <script src="{{ asset('bundles/reception/js/masonry.pkgd.min.js') }}"></script>
        <script src="{{ asset('bundles/reception/js/imagesloaded.js') }}"></script>
        <script src="{{ asset('bundles/reception/js/classie.js') }}"></script>
        <script src="{{ asset('bundles/reception/js/AnimOnScroll.js') }}"></script>

        <!-- Slider -->
        <script>
            jQuery(document).ready(function ($) {
                var options = {
                    $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
                    $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                    $Idle: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                    $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                    $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                    $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                    $SlideDuration: 800,                               //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                    $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                    //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                    //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                    $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                    $Cols: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                    $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                    $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                    $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                    $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $Cols is greater than 1, or parking position is not 0)

                    $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
                        $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
                        $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                        $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                        $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                        $Rows: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                        $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                        $SpacingY: 8,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                        $Orientation: 1,                                //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                        $Scale: false                                   //Scales bullets navigator or not while slider scale
                    },

                    $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                        $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                        $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                        $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                        $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                    }
                };

                var jssor_slider1 = new $JssorSlider$("slider1_container", options);

                //responsive code begin
                //you can remove responsive code if you don't want the slider scales while window resizing
                function ScaleSlider() {
                    var bodyWidth = document.body.clientWidth;
                    if (bodyWidth)
                        jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
                    else
                        window.setTimeout(ScaleSlider, 30);
                }
                ScaleSlider();

                $(window).bind("load", ScaleSlider);
                $(window).bind("resize", ScaleSlider);
                $(window).bind("orientationchange", ScaleSlider);
                //responsive code end
            });

            //Ecriture progressive du texte

            $(function(){
                $(".text").typed({
                    strings: ["^50 "],
                    showCursor: false
                });
            });


            //Animation on scroll

            new AnimOnScroll( document.getElementById( 'grid' ), {
                minDuration : 0.4,
                maxDuration : 0.7,
                viewportFactor : 0.2
            } );



            //Popup Modal

            $('#myModal').on('show', function() {
                var link = $(this).data('link'), agreeBtn = $(this).find('.agree');
            })

            $('.confirm-link').on('click', function(e) {
                e.preventDefault();

                var link = $(this).data('link');
                $('#myModal').data('link',link).modal('show');
            });

            $('#btnYes').click(function() {
                // handle redirect here
                var link = $('#myModal').data('link');
                location.href = link;
                $('#myModal').modal('hide');
            });


            //Parallax
            //$("élément").parallax(xPosition, adjuster, inertia, outerHeight);

            /*

             xPosition : Position horizontale de l'élément (nomenclature CSS).
             adjuster : La position verticale de départ (en pixels).
             inertia : Vitesse en fonction du scroll. Exemple: 0.1 = 1/10 ème de la vitesse du scroll, 2 = deux fois la vitesse du scroll.
             outerHeight : Détermine si jQuery utilise sa propre fonction outerHeight pour déterminer quand une partie est visible dans le viewport (true ou false).

             On l'applique donc sur nos 3 <div> principales (#slide1, #slide3, #slide3) :

             */

            $(document).ready(function(){
                $('#slide1').parallax("center", 0, 0.1, true);
                $('#slide2').parallax("center", 900, 0.1, true);
                $('#slide3').parallax("center", 2900, 0.1, true);
            });

        </script>

    </body>

</html>
