{% extends 'base.html.twig' %}

{% block body %}

    <!-- slider -->

    <div style="min-height: 50px;">
        <!-- Jssor Slider Begin -->
        <!-- To move inline styles to css file/block, please specify a class name for each element. -->
        <!-- ================================================== -->
        <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto;
        top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
            <!-- Loading Screen -->
            <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;
                top: 0px; left: 0px; width: 100%; height: 100%;">
                </div>
                <div style="position: absolute; display: block; background: url("{{ asset('bundles/reception/images/loading.gif') }}") no-repeat center center;
                top: 0px; left: 0px; width: 100%; height: 100%;">
            </div>
        </div>
        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1300px; height: 500px; overflow: hidden;">
            <div>
                <img u="image" src2="{{ asset('bundles/reception/images/repas.jpg') }}" />
            </div>
            <div>
                <img u="image" src2="{{ asset('bundles/reception/images/repas2.jpg') }}" />
            </div>
            <div>
                <img u="image" src2="{{ asset('bundles/reception/images/repas3.jpg') }}" />
            </div>
        </div>
        <!-- bullet navigator container -->
        <div u="navigator" class="jssorb21" style="bottom: 26px; right: 6px;">
            <!-- bullet navigator item prototype -->
            <div u="prototype"></div>
        </div>
        <!--#endregion Bullet Navigator Skin End -->
        <!-- Arrow Left -->
            <span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
            </span>
        <!-- Arrow Right -->
            <span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
            </span>
        <!--#endregion Arrow Navigator Skin End -->
        <a style="display: none" href="http://www.jssor.com">Bootstrap Carousel</a>
    </div>
    <!-- Jssor Slider End -->
    </div>

    <!-- Fin Slider -->


    <!-- Introduction -->

    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="text_welcome">
                    <h2>La cuisine de Caro</h2>
                    <img id="caro" src="{{ asset('bundles/reception/images/caro.png') }}" />
                    <p>
                        Venez comme vous êtes !
                    </p>
                    <p>
                        Les envies culinaires d'une enseignante gourmande qui aime cuisiner et faire plaisir... En toute simplicité, mon quotidien dans ma cuisine.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Fin Introduction -->


    <!-- Menus -->

    <div class="container" id="products">
        <div class="row">
            <div class="col-lg-12" id="">
                <h2>Au Menu</h2>
                <ul class="grid effect-6" id="grid">
                    <li><a class="hvr-box-shadow-outset" data-toggle="modal" data-target="#myModal"><img src="{{ asset('bundles/reception/images/r1.jpg') }}" /></a></li>
                    <li><a href="#"><img src="{{ asset('bundles/reception/images/r2.jpg') }}" /></a></li>
                    <li><a href="#"><img src="{{ asset('bundles/reception/images/r3.jpg') }}" /></a></li>
                    <li><a href="#"><img src="{{ asset('bundles/reception/images/r4.jpg') }}" /></a></li>
                    <li><a href="#"><img src="{{ asset('bundles/reception/images/r5.jpg') }}" /></a></li>
                    <li><a href="#"><img src="{{ asset('bundles/reception/images/r6.jpg') }}" /></a></li>
                    <li><a href="#"><img src="{{ asset('bundles/reception/images/r7.jpg') }}" /></a></li>
                    <li><a href="#"><img src="{{ asset('bundles/reception/images/r8.jpg') }}" /></a></li>
                    <li><a href="#"><img src="{{ asset('bundles/reception/images/r9.jpg') }}" /></a></li>
                    <li><a href="#"><img src="{{ asset('bundles/reception/images/r10.jpg') }}" /></a></li>
                    <li><a href="#"><img src="{{ asset('bundles/reception/images/r11.jpg') }}" /></a></li>
                    <li><a href="#"><img src="{{ asset('bundles/reception/images/r12.jpg') }}" /></a></li>
                </ul>

                <div  class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Boite de Comm' du Couple !</h4>
                            </div>

                            <div class="modal-body">
                                <!-- TEXT INTERIEUR + LIEN REFERENCE + ICONE AMAZON -->
                                <img src="img/girafe1.jpg" alt="" width="50%" height="50%">
                                <p>
                                    Retrouvez notre produit sur : <br/>
                                    Retrouvez-vous en tête-à-tête autour d’un verre et tirez une carte.<br/>
                                    Le principe est simple : un défi à relever le temps d’un sablier avec des gages et des récompenses à la clef, des questions sur une multitude de sujets aussi légers que profonds et un temps de discussion autour de vos réponses.<br/>
                                    Cette boîte contient : 52 cartes doubles, 2 crayons, 1 dé original, 1 sablier et 1 règle du jeu.<br/>
                                    Fous rire et surtout (re)découverte de l’autre et de soi en perspective.<br/>
                                    Réalisée par un groupe de coachs, de psychologues et de conseillers conjugaux.<br/>
                                    Cible : tous les couples : récemment créés, tout juste mariés, ensemble depuis des années, des décennies, avec enfants ou non. Se joue uniquement à 2, au sein de son couple.<br/>
                                    Temps de partie : 15 min par carte environ.<br/>
                                    Taille :  180 mm x 200 mm x 45 mn.<br/>
                                    Poids : 950 g.<br/>
                                </p>
                                <a href="http://www.amazon.fr/La-boite-comm-ducouple/dp/B00NUALNVC/ref=cm_cr_pr_product_top?ie=UTF8">
                                    Lien
                                </a>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Fin Menus -->


{% endblock %}
