{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="menus">Liste des menus</h1>

    <table>
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Nom</th>
                <th>Descriptif</th>
                <th>Photo</th>
                <th>Date Invitation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for soiree in soirees %}
            <tr>
                <!-- <td><a href="{{ path('soiree_show', { 'id': soiree.id }) }}">{{ soiree.id }}</a></td> -->
                <td><a href="{{ path('soiree_show', { 'id': soiree.id }) }}">{{ soiree.nom }}</a></td>
                <td>{{ soiree.descriptif }}</td>
                <td><img src="{{ soiree.photo }}" /></td>
                <td>{% if soiree.dateInvitation %}{{ soiree.dateInvitation|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>

                            <a href="{{ path('soiree_show', { 'id': soiree.id }) }}" class="afficher">Afficher</a>

                            <a href="{{ path('soiree_edit', { 'id': soiree.id }) }}" class="modifier">Modifier</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <a href="{{ path('soiree_new') }}" class="nouveauplat">Ajouter un nouveau plat</a>
            </div>
            <div class="col-xs-12 col-lg-6">
                <a href="{{ path("homepage") }}" title="Retour à l'accueil" class="accueil">Accueil</a>
            </div>
        </div>
</div>
{% endblock %}
