{% extends 'base.html.twig' %}

{% block body %}
<div class="navbar">
    <ul>
        <li>se connecter</li>
    </ul>
</div>

    <h1 class="titre">La Cuisine de Caro</h1>
    <img id="imagecaro" src="{{ asset('../web/bundles/reception/images/PROJET3.png') }}">
    <h1 class="list">Liste des menus :</h1>

    <table>
        <thead class="category">
            <tr>
                <!-- <th>Id</th> -->
                <th>Nom</th>
                <th>Descriptif</th>
                <th>Photo</th>
                <th>Dateinvitation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for soiree in soirees %}
            <tr>
                <!-- <td><a href="{{ path('soiree_show', { 'id': soiree.id }) }}">{{ soiree.id }}</a></td> -->
                <td><a href="{{ path('soiree_show', { 'id': soiree.id }) }}">{{ soiree.nom }}</a></td>
                <td>{{ soiree.descriptif }}</td>
                <td><img src="{{ soiree.photo }}" /></td>
                <td>{% if soiree.dateInvitation %}{{ soiree.dateInvitation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('soiree_show', { 'id': soiree.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('soiree_edit', { 'id': soiree.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <form>
            <a href="{{ path('soiree_new') }}">
            <input id="button" type="button" value="Create new entry";">
            </a>
        </form>

    </ul>
{% endblock %}
