{% extends 'base.html.twig' %}

{% block body %}
<div class="container">


    <div id="conteneur-tableau">
        <table class="css-tableaux">

            <tr>
                <!-- <th>Id</th> -->
                <th>Nom</th>
                <th>Descriptif</th>
                <th>Photo</th>
                <th>Date Invitation</th>
                <th>Actions</th>
            </tr>

            {% for soiree in soirees %}
            <tr>
                {#<td><a href="{{ path('soiree_show', { 'id': soiree.id }) }}">{{ soiree.id }}</a></td>#}
                <td><a href="{{ path('soiree_show', { 'id': soiree.id }) }}">{{ soiree.nom }}</a></td>
                <td>{{ soiree.descriptif }}</td>
                <td><img src="{{ soiree.photo }}" /></td>
                <td>{% if soiree.dateInvitation %}{{ soiree.dateInvitation|date('d-m-Y H:i:s') }}{% endif %}</td>

                <td>{% if is_granted('ROLE_SUPER_ADMIN') %}<a href="{{ path('soiree_edit', { 'id': soiree.id }) }}">Modifier</a>{% endif %}</td>

            </tr>

                    {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}

                        <p>tu n'editeras pas mes menus</p>

                    {% endif %}

            {% endfor %}

        </table>
    </div>

{% if is_granted('ROLE_SUPER_ADMIN') %}

    <ul>
        <form>
            <a href="{{ path('soiree_new') }}">
            <input id="button" type="button" value="Ajouter un nouveau plat">

            </a>
        </form>
    </ul>
</div>
{% endif %}
{% endblock %}
